@import "tailwindcss";

.path-draw {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 5s ease-in-out forwards,
    glow 2s ease-in-out infinite alternate;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes glow {
  from {
    filter: drop-shadow(0 0 2px #ca8a04);
  }
  to {
    filter: drop-shadow(0 0 8px #eab308);
  }
}
